{% comment %} {% extends 'base.html' %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div >
        <form class="" action="" method="post" novalidate>

            {% comment %} Send Link In Terminal {% endcomment %}

            {% csrf_token %}

                {% if messages %}
                    {% for m in messages %}
                        {{m}}
                    {% endfor %}
                {% endif %}

            {% for fm in form %}
            {{fm.label_tag}}
                <div >
                     {{fm}} <small >{{fm.errors|striptags| upper}}</small>
                </div>
            {% endfor %}

            <div >
                <button type="submit">Change Password</button>
            </div>

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div >
                        <p > {{error}} </p>
                    </div>
                {% endfor %}
            {% endif %}
        </form>
    </div>

    <div>
        <p>Not you ? return <a href="{% url 'Login' %}"> Log in </a> </p>
    </div>
</div>
</body>
</html>