
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h4>Reset Password</h4>
    </div>

    <div>
        <form action="" method="post" novalidate>
            {% csrf_token %}

            {% for fm in form %}
            {{fm.label_tag}}
            <div>
                {{fm}} <small>{{fm.errors|striptags| upper}}</small>
            </div>
            {% endfor %}

            <div>
                <button type="submit">Reset</button>
            </div>

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p> {{error}} </p>
            {% endfor %}
            {% endif %}
        </form>
    </div>

    <div>
        <p>Don't have an account ? <a href="{% url 'Login' %}"> Log in </a> </p>
    </div>
    </div>
</body>

</html>